<!DOCTYPE html>
<html>
<head>
    <title>Admin - Stock</title>
    <style>
        body { font-family: Arial; padding: 20px; }
        table { border-collapse: collapse; width: 50%; }
        th, td { border: 1px solid black; padding: 10px; }
        input { width: 60px; }
    </style>
</head>
<body>

<h2>📦 Stock Management</h2>

<table id="table">
    <tr>
        <th>Product</th>
        <th>Stock</th>
        <th>Update</th>
    </tr>
</table>

<script>

fetch("http://127.0.0.1:8000/products")
.then(res => res.json())
.then(data => {

    let table = document.getElementById("table");

    data.forEach(p => {
        table.innerHTML += `
        <tr>
            <td>${p.name}</td>
            <td>${p.stock}</td>
            <td>
                <input id="stock-${p.id}" type="number">
                <button onclick="updateStock(${p.id})">Update</button>
            </td>
        </tr>
        `;
    });
});

function updateStock(id) {
    let qty = document.getElementById("stock-" + id).value;

    fetch("http://127.0.0.1:8000/stock", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            product_id: id,
            quantity: qty
        })
    })
    .then(res => res.json())
    .then(data => {
        alert("Stock updated ✅");
        location.reload();
    });
}

</script>

</body>
</html>